
.header {
    background-color: #ad1818;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    min-height: 80vh;
}


.footer{
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}